body{
    background-color: lightblue;
    color: dimgray;
    font-size: large;
    font-family: 'Times New Roman';
}

h1{
    color: white;
    margin-left: 50px;
}
p{

    margin-left: 100px;
}

h3{
    color: white;
    margin-left: 600px;
}

figcaption{
    color: white;
    text-align-last: auto;
}

.gallery{
    border: 5px solid white;
}

a{
    cursor: pointer;
}

a:hover{
    color: white
}

a:link{
    text-decoration: none;
}




/**
.gallery{
display: grid;
grid-gap: 15px;
border-color: black;
}

